:root {
  --num-cols: 4;
}

@media screen and (max-width: 500px) {
  :root {
    --num-cols: 2;
  }
}

.btn.btn-demo {
  background-color: transparent;
  border-color: transparent;
  color: $osmd-orange;

  &:hover {
    text-decoration: none;
    border-color: $osmd-orange;
  }
}

select.btn.btn-demo {
  border-color: $osmd-orange;
  background-color: white;
}

.control-container {
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  padding: 0.75rem 1rem;
  color: darken($osmd-orange, 5%);
  border-color: darken($osmd-orange, 5%);
  background-color: transparentize(darken($osmd-orange, 5%), 0.95);
  margin: 0.5rem !important;
  text-align: center;
  display: inline-block;
}

.button.group {
  font-size: 0.8rem;
  display: grid;
  grid-template-columns: repeat(var(--num-cols), auto);
}

.button.group h4 {
  font-size: 1.2rem;
}

.centered {
  text-align: center;
}

.demo-canvas {
  position: relative;
  width: 100vw;
  left: calc(-50vw + 50%);
}

.error-container {
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  padding: 0.75rem 1rem;
  color: darken(red, 5%);
  border-color: darken(red, 5%);
  background-color: transparentize(darken(red, 5%), 0.95);
}
